# Euler

In [ ]:
# y = 3y^2 - 4x + 2y
# x0 = 0.2
# y0 = 0
# h = 0.1

In [ ]:
import pandas as pd

In [ ]:
x0 = 0.2
y0 = 0
h = 0.1

In [ ]:
max = 10
y_list = []
x_list = []
y_list.append(y0)
x_list.append(x0)

In [ ]:
for i in range(0,max):
  y = y_list[-1] + h * (3*(y_list[-1])**2 - (4*x_list[-1]) + (2 * y_list[-1]))
  x = x_list[-1] + h
  y = round(y , 3)
  x = round(x , 3)
  y_list.append(y)
  x_list.append(x)

In [ ]:
print("y = ",x_list)
print("x = ",y_list)

y =  [0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2]
x =  [0, -0.08, -0.214, -0.403, -0.635, -0.881, -1.104, -1.279, -1.404, -1.493, -1.563]

In [ ]:
data = {"x" : x_list , "y" : y_list}
df = pd.DataFrame(data)
df

      x      y
0   0.2  0.000
1   0.3 -0.080
2   0.4 -0.214
3   0.5 -0.403
4   0.6 -0.635
5   0.7 -0.881
6   0.8 -1.104
7   0.9 -1.279
8   1.0 -1.404
9   1.1 -1.493
10  1.2 -1.563

# runge kutta

In [ ]:
# y = 3y^2 - 4x + 2y
# x0 = 0.2
# y0 = 0
# h = 0.1
x0_rg = 0
y0_rg = 0
h_rg = 0.1
max_rg = 10
y_list_rg = [y0_rg]
x_list_rg = [x0_rg]



for i in range(0,max_rg):
  k1 =  h_rg * ( (3 * (y_list_rg[-1])**2 ) + (4 * x_list_rg[-1]) + (2 * y_list_rg[-1]) )
  k2 =  h_rg * ( (3 * (y_list_rg[-1] + 0.5 * k1 )**2) + (4 * (x_list_rg[-1] + (0.5 * h_rg) )) + (2 * (y_list_rg[-1] +( 0.5 * k1 ))) )
  k3 =  h_rg * ( (3 * (y_list_rg[-1] + 0.5 * k2 )**2) + (4 * (x_list_rg[-1] + (0.5 * h_rg)) ) + (2 * (y_list_rg[-1] + (0.5 * k2 ))) )
  k4 =  h_rg * ( (3 * (y_list_rg[-1] + k3 )**2 ) + (4 * x_list_rg[-1] + h_rg ) + (2 * y_list_rg[-1] + k3 ) ) 
  x = x_list_rg[-1] + h_rg
  y = y_list_rg[-1] + ((1/6) * (k1 + (2*k2) + (2*k3) + k4) )
  y_list_rg.append(y)
  x_list_rg.append(x)
print(x_list_rg)
print(y_list_rg)

OverflowError: ignored

In [ ]:
# y = 3y^2 - 4x + 2y
# x0 = 0.2
# y0 = 0
# h = 0.1
x0_rg = 0.2
y0_rg = 0
h_rg = 0.1
max_rg = 10
y_list_rg = [y0_rg]
x_list_rg = [x0_rg]


for i in range(0,max_rg):
  k1 = h*(3*(y_list_rg[-1])**2 - 4*(x_list_rg[-1] + 2 * y_list_rg[-1] )  )
  k2 = h*(3*((y_list_rg[-1])**2 + 1/2 * k1 )  - 4 * ((x_list_rg[-1] + 1/2 * h ) + 2 * (y_list_rg[-1] + 1/2 * k1) )  )
  k3 = h*(3*((y_list_rg[-1])**2 + 1/2 * k2 )  - 4 * ((x_list_rg[-1] + 1/2 * h ) + 2 * (y_list_rg[-1] + 1/2 * k2) )  )
  k4 = h*(3*((y_list_rg[-1])**2 + k3)- (4*((x_list_rg[-1] + h))) +(2 * (y_list_rg[-1] + k3)))
  x = x_list_rg[-1] + h
  y = y_list_rg[-1] + ((1/6) * (k1 + (2*k2) + (2*k3) + k4) )
  y_list_rg.append(y)
  x_list_rg.append(x)

In [ ]:
print(x_list_rg)

[0.2, 0.30000000000000004, 0.4, 0.5, 0.6, 0.7, 0.7999999999999999, 0.8999999999999999, 0.9999999999999999, 1.0999999999999999, 1.2]

In [ ]:
print(y_list_rg)

[0, -0.09333333333333334, -0.16785472222222225, -0.23132877905417715, -0.2884372441701637, -0.34161207808615457, -0.3920423350141127, -0.4403279556584516, -0.4868100683493873, -0.5317150883722349, -0.5752127167844225]