In [43]:
import pandas as pd
# pandas dataframe from oupput representations

# Euler

In [ ]:
# y = 4y + 4x + 1
# x0 = 0
# y0 = 0
# h = 0.1

In [73]:
x0 = 0
y0 = 0
h = 0.1
max = 10         
y_list = []
x_list = []
y_list.append(y0)
x_list.append(x0)
for i in range(0,max):
  xx = x_list[-1]
  yy = y_list[-1]
  y = yy +( h * ( (4 * yy) + (4 * xx) + 1) )
  x = xx + h
  y = round(y , 3)
  x = round(x , 3)
  y_list.append(y)
  x_list.append(x)
data = {"x" : x_list , "y" : y_list}
df = pd.DataFrame(data)
df

      x       y
0   0.0   0.000
1   0.1   0.100
2   0.2   0.280
3   0.3   0.572
4   0.4   1.021
5   0.5   1.689
6   0.6   2.665
7   0.7   4.071
8   0.8   6.079
9   0.9   8.931
10  1.0  12.963

# improved euler

In [75]:
# y = 4y + 4x + 1
# x0 = 0
# y0 = 0
# h = 0.1
x0_ie = 0
y0_ie = 0
h_ie = 0.1
max_ie = 10
y_list_ie = [y0_ie]
x_list_ie = [x0_ie]
for i in range(0,max_ie):
  yie = y_list_ie[-1]
  xie = x_list_ie[-1]
  x = xie + h_ie  
  k1 = h_ie * ((4*yie) + (4*xie) + 1)
  k2 = h_ie * ((4*(yie + k1)) + (4*(x)) + 1)
  y = yie + (0.5*(k1+k2))
  y_list_ie.append(y)
  x_list_ie.append(x)
dataie = {"x" : x_list_ie , "y" : y_list_ie}
dfie = pd.DataFrame(dataie)
dfie

      x          y
0   0.0   0.000000
1   0.1   0.140000
2   0.2   0.395200
3   0.3   0.820896
4   0.4   1.498926
5   0.5   2.550411
6   0.6   4.154608
7   0.7   6.576819
8   0.8  10.209693
9   0.9  15.634345
10  1.0  23.710831

# runge kutta

In [74]:
# y = 4y + 4x + 1
# x0 = 0
# y0 = 0
# h = 0.1
x0_rg = 0
y0_rg = 0
h_rg = 0.1
max_rg = 10
y_list_rg = [y0_rg]
x_list_rg = [x0_rg]
for i in range(0,max_rg):
  yrg = y_list_rg[-1]
  xrg = x_list_rg[-1]
  k1 =  h_rg * ((4 * yrg) + (4 * xrg) + 1)
  k2 =  h_rg * ((4 * (yrg + (0.5 * k1))) + (4 * (xrg + (0.5 * h_rg))) + 1)
  k3 =  h_rg * ((4 * (yrg + (0.5 * k2)) ) + (4 * (xrg + (0.5 * h_rg )) + 1))
  k4 =  h_rg * ((4 * (yrg + k3)) + (4 * (xrg + h_rg)) + 1)
  x = xrg + h_rg
  y = yrg + ((1/6) * (k1 + (2*k2) + (2*k3) + k4) )
  y = round(y , 6)
  x = round(x , 6)
  y_list_rg.append(y)
  x_list_rg.append(x)
datarg = {"x" : x_list_rg , "y" : y_list_rg}
dfrg = pd.DataFrame(datarg)
dfrg

      x          y
0   0.0   0.000000
1   0.1   0.145867
2   0.2   0.412635
3   0.3   0.859755
4   0.4   1.575912
5   0.5   2.693400
6   0.6   4.409568
7   0.7   7.018806
8   0.8  10.960267
9   0.9  16.889049
10  1.0  25.782384

# fifth

In [78]:
# y = 4y + 4x + 1
# x0 = 0
# y0 = 0
# h = 0.1
alpha = [16/135 , 0,6656/12825 , 28561/56430 ,-9/50,2/55]
max = 10
x0f = 0
y0f = 0
hf = 0.1
y_list_f = [y0f]
x_list_f = [x0f]

for i in range(0,max):
  x = x_list_f[-1]
  y = y_list_f[-1]
  k1 = hf*((4*y) + (4*x) + 1)
  k2 = hf*((4*(y + 0.25 * k1)) + (4*(x + 0.25 * hf)) + 1)
  k3 = hf*((4*(y + (0.09375 * k1) + (0.28125 * k2))) + (4*(x + (0.375 * hf))) + 1)
  k4 = hf*((4*(y + ((1932/2197)*k1) - ((7200/2197)*k2) + ((7296/2197)*k3) )) + (4*(x + ((12/13) * hf) )) + 1)
  k5 = hf*((4*(y + ((439/216)*k1) - (8*k2) + ((3680/513)*k3) - ((845/4104)*k4) )) + (4*(x + hf)) + 1)
  k6 = hf*((4*(y - ((8/27)*k1) + (2*k2) - ((3544/2565)*k3) + ((1859/4104)*k4) - ((11/40)*k5) )) + (4*(x + (0.5*hf))) + 1)
  yy = y + (alpha[0]*k1) + (alpha[1]*k2) + (alpha[2]*k3) + (alpha[3]*k4) + (alpha[4]*k5) + (alpha[5]*k6)
  y_list_f.append(yy)
  x_list_f.append(x+hf)
datarg = {"x" : x_list_f , "y" : y_list_f}
dfrg = pd.DataFrame(datarg)
dfrg

      x          y
0   0.0   0.000000
1   0.1   0.145910
2   0.2   0.412764
3   0.3   0.860045
4   0.4   1.576489
5   0.5   2.694478
6   0.6   4.411498
7   0.7   7.022167
8   0.8  10.965998
9   0.9  16.898669
10  1.0  25.798332